// Fonts
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.rating {
    display: inline-block;
    unicode-bidi: bidi-override;
    color: #f1f1f1;
    font-size: 25px;
    height: 25px;
    width: auto;
    margin: 0;
    position: relative;
    padding: 0;
  }
  
  .rating-upper {
    color: #dbd938;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  .rating-lower {
    padding: 0;
    display: flex;
    z-index: 0;
  }





  // responsive
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.125rem;
    line-height: 1;
    background-color:  #149e42;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }


  @media (max-width: 440px) {
    .img-game { 
      width: 320px !important;
      height: 420px !important;

        }
  }

  // footer

  .site-footer
{
  background-color: #333333;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color: #737373 ;
  margin-top: 20vh;
}
.site-footer hr
{
  border-top-color: #149e42;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
